<div class="footer-container">
    <div>
        <img class="footer-logo" src="/assets/img/logo-black.png">
    </div>
    <div class="social-container">
        <img class="social" src="/assets/img/twitter-black.png">
        <img class="social" src="/assets/img/instagram-black.png">
        <img class="social" src="/assets/img/facebook-black.png">
        <img src="/assets/img/github-black.png">
        <img src="/assets/img/linkedin-black.png">
        <img src="/assets/img/xing-black.png">
    </div>
    <div class="link-container">
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/data-protection">Datenschutz</a>
    </div>
</div>
