<div class="footer-container">
    <div>
        <img class="footer-logo" src="/assets/img/logo-black.png">
    </div>
    <div class="social-container">
        <a href="https://github.com/FlorianRehm1337"><img src="/assets/img/github-black.png"></a>
        <a href="https://www.linkedin.com/in/florian-rehm-a39306223/"><img src="/assets/img/linkedin-black.png"></a>
        <a href="https://www.xing.com/profile/Florian_Rehm22/cv"><img src="/assets/img/xing-black.png"></a>
    </div>
    <div class="link-container">
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/data-protection">Datenschutz</a>
    </div>
</div>
