<section>
  <div class="info-start">
    <h1 translate>About Me</h1>
    <h4 translate>I'm Florian Rehm and <font style="color: var(--green)" translate>Web Developer</font>
    </h4>
    <p translate>I've been a passionate programmer for a year now who loves to develop complex website applications. Currently I
      work
      as
      a frontend development mentor at the Developer Academy. Now I want to go one step further and develop myself
      personally.
      I am open for new challenges and would be interested to learn the other side of web development (backend) in the
      future.</p>
  </div>
  <div class="info-wrapper">
    <div class="info-stack">
      <div>
        <p translate>Birthday:</p>
        <span translate>26 May 1998</span>
      </div>
      <div>
        <p>Website:</p>
        <span>www.florian-rehm.com</span>
      </div>
      <div>
        <p translate>City:</p>
        <span>Alling</span>
      </div>
    </div>
    <div class="info-stack">
      <div>
        <p translate>Age:</p>
        <span>24</span>
      </div>
      <div>
        <p>Email:</p>
        <span>florian-rehm@mail.de</span>
      </div>
      <div>
        <p translate>Phone:</p>
        <span>+49 1590 1027652</span>
      </div>
    </div>
  </div>
  <button routerLink="/contact" translate>Contact Me</button>

</section>
<img class="watermark" src="assets/img/bg_logo.png" alt="watermark.png">
