<section>
  <div class="info-start">
    <h1>About Me</h1>
    <h4>I'm Florian Rehm and <font style="color: var(--green)">Web Developer</font>
    </h4>
    <p>I've been a passionate programmer for a year now who loves to develop complex website applications. Currently I
      work
      as
      a frontend development mentor at the Developer Academy. Now I want to go one step further and develop myself
      personally.
      I am open for new challenges and would be interested to learn the other side of web development (backend) in the
      future.</p>
  </div>
  <div class="info-wrapper">
    <div class="info-stack">
      <div>
        <p>Birthday:</p>
        <span>26 May 1998</span>
      </div>
      <div>
        <p>Website:</p>
        <span>www.florianrehm.de</span>
      </div>
      <div>
        <p>City:</p>
        <span>Alling</span>
      </div>
    </div>
    <div class="info-stack">
      <div>
        <p>Age:</p>
        <span>24</span>
      </div>
      <div>
        <p>Email:</p>
        <span>florian-rehm@mail.de</span>
      </div>
      <div>
        <p>Phone:</p>
        <span>+49 1590 1027652</span>
      </div>
    </div>
  </div>
  <button routerLink="/contact">Contact Me</button>

</section>
<img class="watermark" src="assets/img/bg_logo.png" alt="watermark.png">
