<div class="about-me-container">
    <div class="about-me">
        <img class="about-me-img" src="/assets/img/Bewerbungsfoto.png">
        <div class="about-me-text">
            <h1>Über mich</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo hic iure quibusdam magnam facere? Debitis natus quae quisquam possimus laborum, modi, ducimus consequatur doloribus repudiandae quidem quibusdam aperiam illum rem.</p>
        </div>
    </div>
    <div class="journey-container">
        <div class="journey">
            <div class="journey-img-container"><img src="/assets/img/walk-line.png"></div>
            <h3>My Journey Began test</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, asperiores quas. Sed, et odit. Doloremque vero aliquam animi quia dolores ducimus autem perferendis. Perferendis ipsum architecto repellat officiis, omnis modi.</p>
        </div>
        <div class="journey">
            <div class="journey-img-container"><img src="/assets/img/heart-line.png"></div>
            <h3>My Journey Began test</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, asperiores quas. Sed, et odit. Doloremque vero aliquam animi quia dolores ducimus autem perferendis. Perferendis ipsum architecto repellat officiis, omnis modi.</p>
        </div>
        <div class="journey">
            <div class="journey-img-container"><img src="/assets/img/search-line.png"></div>
            <h3>My Journey Began test</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, asperiores quas. Sed, et odit. Doloremque vero aliquam animi quia dolores ducimus autem perferendis. Perferendis ipsum architecto repellat officiis, omnis modi.</p>
        </div>
        <div class="journey">
            <div class="journey-img-container"><img src="/assets/img/flight-takeoff-line.png"></div>
            <h3>My Journey Began test</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, asperiores quas. Sed, et odit. Doloremque vero aliquam animi quia dolores ducimus autem perferendis. Perferendis ipsum architecto repellat officiis, omnis modi.</p>
        </div>
    </div>
</div>
