<div id="projects" class="my-projects-container">
    <h1>Meine Projekte</h1>
    <div class="btn-container">
        <button (click)="showAll" [class.button-disabled]="buttonAll">Alle</button>
        <button (click)="showAngular()" [class.button-active]="buttonAng"> Angular</button>
        <button (click)="showJS()" [class.button-active]="buttonJS">Javascript</button>
    </div>
    <div  class="projects-container">
        <div id="kochwelt" class="project">
            <div>
                <h2>Kochwelt</h2>
                <p>Javascript - Rezeptseite</p>
                <a href="http://florian-rehm.developerakademie.com/kochwelt/index.html"><button>Check Out</button></a>
            </div>
            <img src="/assets/img/project-kochwelt.jpg">
        </div>
        <div id="lieferando" class="project">
            <div>
                <h2>Lieferando</h2>
                <p>Javascript - Lieferando Nachbau</p>
                <a href="http://florian-rehm.developerakademie.com/lieferando/index.html"><button>Check Out</button></a>
            </div>
            <img src="/assets/img/project-lieferando.jpg">
        </div>
        <div id="quizapp" class="project">
            <div>
                <h2>Quiz-App</h2>
                <p>Javascript - ein kleines Quiz</p>
                <a href="http://florian-rehm.developerakademie.com/quizapp/index.html"><button>Check Out</button></a>
            </div>
            <img src="/assets/img/project-quizapp.jpg">
        </div>
        <div id="join" class="project">
            <div>
                <h2>Join</h2>
                <p>Javascript - Kanban Gruppenarbeit</p>
                <a href="http://florian-rehm.developerakademie.com/join/index.html"><button>Check Out</button></a>
            </div>
            <img src="/assets/img/project-join.jpg">
        </div>
        <div id="portfolio" class="project">
            <div>
                <h2>Portfolio</h2>
                <p>Angular - Meine Homepage</p>
                <a href="http://florian-rehm.developerakademie.com"><button>Check Out</button></a>
            </div>
            <img src="/assets/img/project-portfolio.jpg">
        </div>
        <div id="cardgame" class="project">
            <div>
                <h2>Ring Of Fire</h2>
                <p>Angular - Kartenspiel</p>
                <a href="http://florian-rehm.developerakademie.com/join/index.html"><button>Check Out</button></a>
            </div>
            <img src="/assets/img/project-cardgame.jpg">
        </div>
        
    </div>
</div> 
