<section>
  <h1>Projects</h1>
  <div class="projects-wrapper">
    <div class="project-container">
      <div class="img-wrapper">
        <div class="btn-container">
          <button (touchend)="redirectToPage('#')">Live Test</button>
          <button (touchend)="redirectToPage('https://github.com/FlorianRehm1337/Minesweeper')">Github</button>
        </div>
        <img src="assets/img/minesweeper.png" alt="minesweeper.png">
      </div>
      <div class="project-info">
        <h2>Minesweeper</h2>
        <h4><span>HTML</span><span>CSS</span><span>Javascript</span></h4>
        <p>A traditional classic from the slightly older years. Since I played this game before when I was about 10
          years old,
          I
          wanted to program it myself once as a challenge. That was a lot of fun!</p>
      </div>
    </div>
    <div class="project-container">
      <div class="project-info">
        <h2>Sharkie</h2>
        <h4><span>HTML</span><span>CSS</span><span>Javascript</span><span>OOP</span></h4>
        <p>Sharkie is a small javascript game where the main focus is on OOP. The goal of the game is to collect as many
          coins as
          possible. The poison bottles are also important, otherwise it will be a bit harder to win!</p>
      </div>
      <div class="img-wrapper">
        <div class="btn-container">
          <button (touchend)="redirectToPage('#')">Live Test</button>
          <button (touchend)="redirectToPage('https://github.com/FlorianRehm1337/Sharkie')">Github</button>
        </div>
        <img src="assets/img/sharkie.png" alt="sharkie.png">
      </div>
    </div>
    <div class="project-container">
      <div class="img-wrapper">
        <div class="btn-container">
          <button (touchend)="redirectToPage('#')">Live Test</button>
          <button (touchend)="redirectToPage('https://github.com/FlorianRehm1337/Join-Angular')">Github</button>
        </div>
        <img src="assets/img/join.png" alt="join.png">
      </div>
      <div class="project-info">
        <h2>Join</h2>
        <h4><span>HTML</span><span>SCSS</span><span>Angular</span><span>Firebase</span></h4>
        <p>Now comes the project I am most proud of. This is my own Kanban board, where the main focus is on Angular as
          frontend
          framework and Firebase as backend. In this project the Cloud Firestore and Authentication of firebase was
          used.</p>
      </div>
    </div>
  </div>
</section>
<img class="watermark" src="assets/img/bg_logo.png" alt="watermark.png">
