<div id="contact" class="contact-container">
    <div>
        <div class="contact-header">
            <h1>Kontaktiere mich.</h1>
            <p>Sie können mich über das untere Kontaktformular oder per E-Mail  <a class="contact-email" href="mailto:florehm1337@gmail.com">florehm1337@gmail.com</a> kontaktieren.</p>
        </div>
    
        <form #form target="_blank" action="http://florian-rehm.developerakademie.com/send_mail.php" method="POST">
            <p>Name</p>
            <input name="name" placeholder="Enter your name">
    
            <p>Email Adresse</p>
            <input name="email" placeholder="Enter your Email address" required>
    
            <p>Ihre Nachricht</p>
            <textarea name="message" placeholder="Enter your message"></textarea>
        </form>
    
        <div class="btn-container">
            <button (click)="form.submit()" type="submit">Senden</button>
        </div>
        
    </div>
</div>
