.contact-container {
    background-color: black;
    width: 100vw;
    max-width: 100%;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: rgb(45, 252, 216);
        margin: 0;
        padding-top: 100px;
        font-size: 64px;
    }

    p {
        color: white;
    }

    a {
        color: rgb(45, 252, 216);
    }

    input {
        background-color: rgb(19, 17, 17);
        border: none;
        width: 100%;
        padding: 10px;
        color: white;
        outline: none;
        box-shadow: 0px 0px 10px 0px #2dfcd8;
    }

    textarea {
        background-color: rgb(19, 17, 17);
        border: none;
        width: 100%;
        height: 100px;
        padding: 10px;
        outline: none;
        color: white;
        box-shadow: 0px 0px 10px 0px #2dfcd8;
    }

    button {
        background-color: black;
        border: 1px solid rgb(45, 252, 216);
        color: rgb(45, 252, 216);
        width: 125px;
        height: 45px;

        &:hover {
            background-color: rgb(45, 252, 216);
            color: black;
        }
    }
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    margin-top: 16px;
}

.contact-header {
    p {
        padding-bottom: 32px;
    }
}

@media (max-width: 800px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 64px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            padding-top: 32px;
            font-size: 32px;
            padding-bottom: 16px;
        }

        input {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }

    
    }

    .contact-header {
        padding-left: 30px;
        padding-right: 30px;
    }

    .btn-container {
        margin-left: 0;
        margin-top: 64px;
    }
}
