.navbar{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 100%;

    img{
        height: 64px;
        width: 75px;
        padding-left: 190px;
        padding-top: 32px;
        cursor: pointer;
    }

}

.link-container{
    padding-right: 200px;

    a{
        color: white;
        text-decoration: none;
        padding-left: 32px;
        padding-right: 32px;
        font-size: 20px;

        &:hover{
            color: orange;
        }
    }
}