<div class="my-skills-container">

    <div><h1>Meine Skills</h1></div>

    <div class="my-skills"> 
        <div class="skill">
            <div class="img-background">
                <img src="/assets/img/javascript.png">
            </div>
            
            <div class="skill-background">Javascript</div>
        </div>
        <div class="skill">
            <div class="img-background">
                <img src="/assets/img/angular.png">
            </div>
            
            <div class="skill-background">Angular</div>
        </div>
        <div class="skill">
            <div class="img-background">
                <img src="/assets/img/css.png">
            </div>
            
            <div class="skill-background">HTML/CSS</div>
        </div>
        <div class="skill">
            <div class="img-background">
                <img src="/assets/img/scrum.png">
            </div>
            
            <div class="skill-background">SCRUM</div>
        </div>
        <div class="skill">
            <div class="img-background">
                <img src="/assets/img/git.png">
            </div>
            
            <div class="skill-background">Git</div>
        </div>
        <div class="skill">
            <div class="img-background">
                <img src="/assets/img/design-thinking.png">
            </div>
            
            <div class="skill-background">Design Thinking</div>
        </div>
        <div class="skill">
            <div class="img-background">
                <img src="/assets/img/api.png">
            </div>
            
            <div class="skill-background">Rest API</div>
        </div>
        <div class="skill">
            <div class="img-background">
                <img src="/assets/img/test-automation.png">
            </div>
            
            <div class="skill-background">Test automation</div>
        </div>
        <div class="skill">
            <div class="img-background">
                <img src="/assets/img/database.png">
            </div>
            
            <div class="skill-background">Databases</div>
        </div>
    </div>

</div>
