<div id="greeting" class="greeting-container">

    <div class="headline-contact-img">

        <div class="headline-contact">
            <div class="headline">
                <h1>
                    <p class="first">Hi,</p>
                    <p class="second">ich bin <span style="color:orange">F</span>lorian <span
                            style="color:#5CA9EA;">R</span>ehm</p>
                    <p class="third"><span style="color:red;">F</span>ront <span style="color: blue;">E</span>nd <span
                            style="color: yellow;">E</span>ntwickler</p>
                </h1>
            </div>
            <div class="contact-btn-container">
                <a href="#contact"><button class="contact-btn">Kontaktiere mich</button> </a>
            </div>
        </div>
        <div class="my-image">
            <img src="./assets/img/Bewerbungsfoto.png">
        </div>
    </div>
    <div class="arrow-container">
        <a href="#myskills"><img class="arrow" src="./assets/img/arrow.png"></a>
    </div>

</div>

<app-skills></app-skills>
<app-projects></app-projects>
<app-about-me></app-about-me>
<app-contact></app-contact>
