<div class="greeting-container">
    <div class="headline-contact">
        <div class="headline">
            <h1>Hi,<br>
                ich bin <font class="first-name">Florian </font> <font class="last-name">Rehm</font> <br>
                Front End Entwickler
            </h1>
        </div>
        <div class="contact-btn-container">
           <button class="contact-btn">Kontaktiere mich</button> 
        </div>
    </div>
    <div>
        <img class="my-image" src="./assets/img/Bewerbungsfoto.png">
    </div>
    <div class="arrow-container">
        <img class="arrow" src="./assets/img/arrow.png">
    </div>
    
</div>

