<div id="headline-container" class="absolute text-white text-center max-w-2xl w-full px-6"
  style="top: 50%; left: 50%; transform: translate(-50%, -50%);">

  <h1 id="my-name" class="font-space-mono text-xl uppercase tracking-wide opacity-0"
    style="transform: translateY(30px)">Florian Rehm</h1>
  <p id="oneWithAn" style="font-style: italic; transform: translateY(30px)"
    class="font-exo text-5xl font-bold opacity-0">ONE WITH AN EVERLASTING DESIRE FOR THE UNKOWN & UNTOLD</p>
  <a id="view-work" style="transform: translateY(30px)" href="#"
    class="border px-4 py-2 rounded-lg text-sm text-white font-space-mono uppercase mt-8 inline-block hover:bg-white hover:text-black opacity-0">View
    Work</a>

</div>

